<strong> Olá {{ student }} </strong>
<p> Sua matrícula foi atualizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> R$ {{ total }} <br />
</p>
<p>Seja muito bem vindo em nossa academia!</p>
